@page
@using Newtonsoft.Json
@model Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">داشبورد گزارشات</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-info">
                <i class="ion-social-usd"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">15852</span>
                مجموع فروش
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-purple">
                <i class="ion-ios7-cart"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">956</span>
                سفارشات جدید
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-success">
                <i class="ion-eye"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">20544</span>
                بازدید کنندگان
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-primary">
                <i class="ion-android-contacts"></i>
            </span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">5210</span>
                کاربران
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-6">
        <div class="portlet">

            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    تست
                </h3>
                <canvas id="line"></canvas>
            </div>

        </div>
    </div>

    <div class="col-sm-6">
        <div class="portlet">

            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    تست1
                </h3>
                <canvas id="bar"></canvas>
            </div>

        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="portlet">

            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    تعداد محصول در هر گروه
                </h3>
                <canvas width="300" id="doughnut"></canvas>
            </div>

        </div>
    </div>

</div>

@section Scripts{
    <script>
        const lineChartDiv = document.getElementById("line");
        const data = @Html.Raw(JsonConvert.SerializeObject(Model.BarLineDataSet));
        var names = @Html.Raw(Json.Serialize(@Model.NameList));
        const lineChart = new Chart(lineChartDiv,
            {
                type: "line",
                data: {
                    labels: names,
                    datasets: data
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 1
                        }
                    }
                }
            });


        const barChartDiv = document.getElementById("bar");
        const barChart = new Chart(barChartDiv,
            {
                type: "bar",
                data: {
                    labels: names,
                    datasets: data
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 1
                        }
                    }
                }
            });


        const doughnutChartDiv = document.getElementById("doughnut");
        const doughnutData = @Html.Raw(JsonConvert.SerializeObject(Model.DoughnutDataSet));
        var names = @Html.Raw(Json.Serialize(@Model.NameList));
        const doughnutChart = new Chart(doughnutChartDiv,
            {
                type: "doughnut",
                data: {
                    labels: names,
                    datasets: [doughnutData]
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 1
                        }
                    }
                }
            });
    </script>
}